*::-moz-selection {
  background-color: rgba(255,60,0,0.3);
  color: $color-light;
}
*::selection {
  background-color: rgba(255,60,0,0.3);
  color: $color-light;
  animation: changeBackground 3s ease-in-out infinite;
}

@keyframes changeBackground {
  0% {
    background-color: rgba(255,60,0,0.3);
  }
  100% {
    background-color: rgba(255,60,0,1);
  }
}

html {
  cursor: none;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: $font-default;
  color: $color-light;
  background-color: $color-dark;

  &::-webkit-scrollbar {
    width: 0;
  }

  .container {
    width: 90%;
    margin-left: 5%;

    .row {
      display: flex;
      flex-wrap: wrap;

      .col {
        box-sizing: border-box;
      }

    }

  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
    pointer-events: none;
  }

  a {
    cursor: none;
  }

  .overlay {
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    //background-color: $color-dark;
    background: repeating-linear-gradient(rgba(60,59,70,0.9), rgba(255, 60, 0, 0.8) 50%, rgb(28,28,28) 50%, rgba(255,251,249,0.9));
    background-size: .5rem .5rem;
    -webkit-filter: url(#noise);
    filter: url(#noise);
    opacity: .15;
    //opacity: 0;
    position: fixed;
    top: -2rem;
    left: -2rem;
    z-index: 10001;
    user-select: none;
    pointer-events: none;

    svg {
      width: 0;
      height: 0;
    }

  }

}

.no-scroll {
  overflow: hidden;
}