// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$color-light: #dedddc;
$color-dark: #1c1c1c;

//$color-accent: #ff4400;
$color-orange: #ff3c00;
$color-red: #ff1e00;

// Fonts
$font-default: "Inter", sans-serif;
$font-accent: "Noto Serif", serif;
$font-handwritten: "Caveat", cursive;