// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$color-light: #dedddc;
$color-dark: #1c1c1c;

//$color-accent: #ff4400;
$color-orange: #ff3c00;
$color-red: #ff1e00;

$color-purple: #6600ff;
$color-blue: #0066ff;

// Fonts
//$font-default: "Nunito Sans", sans-serif;
$font-default: "Inter", sans-serif;
//$font-accent: "Playfair Display", serif;
//$font-accent: "Noto Serif Georgian", serif;
$font-accent: "Noto Serif", serif;
$font-handwritten: "Caveat", cursive;