<footer>
    <div class="container">
        <div class="row">
            <div class="col col-left">
                <div>
                    <span>Made with <span class="heart">❤️</span></span>
                </div>
            </div>
            <div class="col col-center">
                <span>&#169; {{ 'now'|date('Y') }} Cas Heynen</span>
            </div>
            <div class="col col-right">
                <a href="https://nl.linkedin.com/in/cas-heynen-2257b61b3" target="_blank">
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
</footer>
