<!DOCTYPE html>
<html {{ site.language_attributes }}>
    {% block head %}
        {% include 'partials/head.twig' %}
    {% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let defaultTitle = document.title;

            document.addEventListener("visibilitychange", function () {
                if (document.hidden) {
                    document.title = "Don't leave! 😢";
                } else {
                    document.title = defaultTitle;
                }
            });
        });
    </script>

    <body class="{{ body_class }} no-scroll">

        <!--<div class="overlay">
            <svg>
                <filter id="noise">
                    <feTurbulence id="turbulence">
                        <animate attributeName="baseFrequency" dur="540s" values="0.9 0.9; 0.8 0.8; 0.9 0.9;" repeatCount="indefinite"></animate>
                    </feTurbulence>
                    <feDisplacementMap in="SourceGraphic" scale="60"></feDisplacementMap>
                </filter>
            </svg>
        </div>-->

        <!--<div id="loading-screen" class="loading-screen">
            <div id="progress-text" class="progress-text">0%</div>
            <div class="loading-text">Portfolio loading...</div>
            <div id="progress-container" class="progress-container">
                <div id="progress-bar" class="progress-bar"></div>
            </div>
        </div>-->

        <div class="gradient-blur-top">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="cursor-dot"></div>
        <div class="cursor-trail"></div>

        {{ function('wp_body_open') }}

        {% include "partials/navigation.twig" %}

        {% block content %}
            Sorry, no content
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.twig' %}
        {% endblock %}

        {% include "partials/scripts.twig" %}
        {{ function('wp_footer') }}
        {% do action('get_footer') %}

        <div class="gradient-blur-bottom">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </body>
</html>
