<!DOCTYPE html>
<html {{ site.language_attributes }}>
    {% block head %}
        {% include 'partials/head.twig' %}
    {% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let defaultTitle = document.title;

            document.addEventListener("visibilitychange", function () {
                if (document.hidden) {
                    document.title = "Don't leave! 😢";
                } else {
                    document.title = defaultTitle;
                }
            });
        });
    </script>
    <body class="{{ body_class }}">

        <div class="gradient-blur-top">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="cursor-dot"></div>
        <div class="cursor-trail"></div>

        {{ function('wp_body_open') }}

        {% include "partials/navigation.twig" %}

        {% block content %}
            Sorry, no content
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.twig' %}
        {% endblock %}

        {% include "partials/scripts.twig" %}
        {{ function('wp_footer') }}
        {% do action('get_footer') %}

        <div class="gradient-blur-bottom">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </body>
</html>
