<div class="skills">
    <div class="container">
        <div class="row">
            <div class="col col-left">
                <h2>{{ block.title }}</h2>
                <div class="content">
                    {{ block.text }}
                </div>
            </div>
            <div class="col col-right">
                <div class="terms">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span class="accent">Photoshop</span>
                    <span>SCSS</span>
                    <span>Bootstrap</span>
                    <span class="accent">Illustrator</span>
                    <span>jQuery</span>
                    <span class="accent">XD</span>
                    <span>GSAP</span>
                    <span>TailwindCss</span>
                    <span>JavaScript</span>
                    <span class="accent">Figma</span>
                </div>
            </div>
        </div>
    </div>
    <img class="line-right" src="{{ site.theme.link }}/assets/images/line_right.svg">
    <div class="fade-1"></div>
    <div class="fade-2"></div>
</div>